{% extends 'base.html' %}

{% block title  %} Mijozlar {% endblock %}
{% block page  %} Mijozlar {% endblock %}
{% block clients_active %} active {% endblock %}

{% block content %}
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Mijoz qo'shish</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Ism</th>
                            <th scope="col" style="text-align: center;">Do'kon</th>
                            <th scope="col" style="text-align: center;">Telefon raqam</th>
                            <th scope="col" style="text-align: center;">Manzil</th>
                            <th scope="col" style="text-align: center;">Qarz</th>
                            <th scope="col" style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}.</th>
                            <td>{{ client.name }}</td>
                            <td>{{ client.shop_name }}</td>
                            <td>{{ client.phone_number }}</td>
                            <td>{{ client.address }}</td>
                            <td>{{ client.debt }} so'm</td>
                            <td>
                                <a href="{% url 'client-update' client.id %}">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                                </a>

                                <a href="{% url 'client-delete' client.id %}">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi mijoz</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <form action="/add-client/" id="new-client-form" method="post">
              {% csrf_token %}
            <div class="modal-body">
              <label for="name">FIO:</label>
              <input type="text" name="name" placeholder="Mijoz to'liq ismi..." id="name" class="form-control" required>
                <br>
              <label for="shop_name">Do'kon nomi:</label>
              <input type="text" name="shop_name" placeholder="Do'kon nomi..." id="shop_name" class="form-control" required>
              <br>
              <label for="phone_number">Telefon raqami:</label>
              <input type="number" name="phone_number" placeholder="Telefon raqami..." id="phone_number" class="form-control" required>
              <br>
              <label for="address">Manzili:</label>
              <input type="text" name="address" placeholder="Mijoz manzili..." id="address" class="form-control" required>
              <br>
            </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>
        </div>
      </div>
    </div>
 {% endblock %}