{% extends 'base.html' %}

{% block title %} Qaytarilgan qarzlar {% endblock %}
{% block page %} Qaytarilgan qarzlar {% endblock %}
{% block debt-active %} active {% endblock %}

{% block content %}
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                      Qarzni qoplash
                  </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Mijoz</th>
                            <th scope="col" style="text-align: center;">Miqdor</th>
                            <th scope="col" style="text-align: center;">Izoh</th>
                            <th scope="col" style="text-align: center;">Sana</th>
                            <th scope="col" style="text-align: center;">Harakatlar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in debt_repayments %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}.</th>
                            <td>{{ d.client.name }} -- {{ d.client.shop_name }}</td>
                            <td>{{ d.amount }} so'm</td>
                            <td>{% if d.info %} {{ d.info }} {% else %} -- {% endif %}</td>
                            <td>{{ d.created_at }}</td>
                            <td>
                                <a href="{% url 'debt-repayment-update' d.id %}">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                                </a>
                                <a href="{% url 'debt-repayment-delete' d.id %}">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Qarzni qoplash</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form id="new-product-form" method="post">
              {% csrf_token %}
            <div class="modal-body">
              <label for="client">Mijoz:</label>
                <select name="client_id" id="client" class="form-control">
                    {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.name }} -- {{ client.shop_nam }}</option>
                    {% endfor %}
                </select>
              <br>
              <label for="amount">Miqdori:</label>
              <input type="number" name="amount" placeholder="Mahsulot miqdori..." id="amount" class="form-control" value="0" required>
              <br>
              <label for="info">Izoh:</label>
              <input type="text" name="info" placeholder="Qo'shimcha izoh uchun..." id="info" class="form-control" >
              <br>
            </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>

        </div>
      </div>
    </div>
<!-- ./wrapper -->
{% endblock %}