{% extends 'base.html' %}

{% block title %} Kirimlar {% endblock %}
{% block page %} Kirimlar {% endblock %}
{% block import_products_active %} active {% endblock %}

{% block content %}
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                      Kirim qo'shish
                  </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Mahsulot</th>
                            <th scope="col" style="text-align: center;">Miqdor</th>
                            <th scope="col" style="text-align: center;">Sotib olish</th>
                            <th scope="col" style="text-align: center;">Izoh</th>
                            <th scope="col" style="text-align: center;">Sana</th>
                            <th scope="col" style="text-align: center;">Harakatlar</th>
                            <th scope="col" style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for import_product in import_products %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}.</th>
                            <td>{{ import_product.product.name }}</td>
                            <td>{{ import_product.quantity }} {{ import_product.product.unit }}</td>
                            <td>{{ import_product.buy_price }} so'm</td>
                            <td>{% if import_product.details %} {{ import_product.details }} {% else %} -- {% endif %}</td>
                            <td>{{ import_product.created_at }}</td>
                            <td>
                                <a href="{% url 'import-product-update' import_product.id %}">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                                </a>
                                <a href="{% url 'import-product-delete' import_product.id %}">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi kirim</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <form id="new-product-form" method="post">
              {% csrf_token %}
            <div class="modal-body">
              <label for="product">Mahsulot:</label>
                <select name="product_id" id="product" class="form-control">
                    {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
              <br>
              <label for="quantity">Miqdor:</label>
              <input type="number" name="quantity" placeholder="Mahsulot miqdori..." id="quantity" class="form-control" value="1" required>
              <br>
              <label for="buy_price">Sotib olish(so'm):</label>
              <input type="number" name="buy_price" placeholder="Sotib olish narxi..." id="buy_price" class="form-control" required>
              <br>
              <label for="details">Izoh:</label>
              <input type="text" name="details" placeholder="Qo'shimcha izoh uchun..." id="details" class="form-control" >
              <br>
            </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>

        </div>
      </div>
    </div>
<!-- ./wrapper -->
{% endblock %}