{% extends 'base.html' %}

{% block title %} Kirim malumotlari | O'chirish {% endblock %}
{% block page %} {{ import_product.product }} kirimlarini o'chirmoqchimisiz? {% endblock %}
{% block import_products_active %} active {% endblock %}

{% block content %}
<!-- Modal body -->
<form id="edit-product-form" style="padding:  0 20px 40px 20px" method="post">
    {% csrf_token %}

    <!-- Modal footer -->
    <a href="{% url 'import-products' %}">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
    </a>
        <button type="submit" class="btn btn-danger">O'chirish</button>
</form>

{% endblock %}
