{% extends 'base.html' %}

{% block title %} Mahsulot | Tahrirlash {% endblock %}
{% block page %} {{ product.name }} ✏️ {% endblock %}
{% block product_active %} active {% endblock %}

{% block content %}
<!-- Modal body -->
<form action="#" id="edit-product-form" style="padding:  0 20px 40px 20px" method="post">
    {% csrf_token %}
    <label for="name">Nom:</label>
    <input type="text" name="name"  placeholder="Mahsulot nomi..." value="{{ product.name }}" id="name"
           class="form-control" required>
    <br>
    <label for="brand">Brend nomi:</label>
    <input type="text" name="brand" placeholder="Brend nomi..." value="{{ product.brand }}"
           id="brand" class="form-control" >
    <br>
    <label for="buy_price">Sotib olish narxi(so'm):</label>
    <input type="number" name="buy_price" placeholder="Sotib olish..." value="{{ product.buy_price }}"
           id="buy_price" class="form-control" >
    <br>
    <label for="sell_price">Sotish narxi(so'm):</label>
    <input type="number" name="sell_price" placeholder="Sotib olish..." value="{{ product.sell_price }}"
           id="sell_price" class="form-control" >
    <br>
    <label for="quantity">Mavjud({{ product.unit }}):</label>
    <input type="number" name="quantity" placeholder="Mavjud..." value="{{ product.quantity }}"
           id="quantity" class="form-control" required>
    <br>
    <label for="unit">O'lchov birlik:</label>
    <input type="text" name="unit" placeholder="Done, kg, tonna, qop, litr..." value="{{ product.unit }}"
           id="unit" class="form-control" required>
    <br>

    <!-- Modal footer -->
    <button type="submit" class="btn btn-secondary">Tasdiqlash</button>
    <a href="{% url 'products' %}">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Bekor qilish</button>
    </a>

</form>

{% endblock %}
