{% extends 'base.html' %}
{% block title %} Mahsulotlar {% endblock %}
{% block page %} Mahsulotlar {% endblock %}
{% block products_active %} active {% endblock %}

{% block content %}

    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                      Mahsulot qo'shish
                  </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Nom</th>
                            <th scope="col" style="text-align: center;">Brend</th>
                            <th scope="col" style="text-align: center;">Sotib olish</th>
                            <th scope="col" style="text-align: center;">Sotish</th>
                            <th scope="col" style="text-align: center;">Mavjud</th>
                            <th scope="col" style="text-align: center;">Harakatlar</th>
                            <th scope="col" style="text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}.</th>
                            <td>{{ product.name }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{% if product.buy_price %} {{ product.buy_price|floatformat:2 }} so'm {% else %} Mavjud emas {% endif %}</td>
                            <td>{{ product.sell_price|floatformat:2 }} so'm</td>
                            <td>{{ product.quantity }} {{ product.unit }}</td>
                            <td>
                                <a href="{% url 'product-update' product.id %}  ">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                                </a>
                                <a href="{% url 'product-delete' product.id %}">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi mahsulot</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <form action="/add-product/" id="new-product-form" method="post">
              {% csrf_token %}
            <div class="modal-body">
              <label for="name">Nom:</label>
              <input type="text" name="name" placeholder="Mahsulot nomi..." id="name" class="form-control" required>
              <br>
              <label for="brand">Brend:</label>
              <input type="text" name="brand" placeholder="Mahsulot brendi..." id="brand" class="form-control" >
              <br>
              <label for="sell_price">Sotish narxi(so'm):</label>
              <input type="number" name="sell_price" placeholder="Sotish narxi..." id="sell_price" class="form-control" required>
              <br>
              <label for="quantity">Miqdori:</label>
              <input type="number" name="quantity" placeholder="Mahsulot miqdori..." id="quantity" class="form-control" value="0">
              <br>
              <label for="unit">Birlik:</label>
              <input type="text" name="unit" placeholder="O'lchov birlik..." id="unit" class="form-control" value="dona">
              <br>
            </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>
    
        </div>
      </div>
    </div>
<!-- ./wrapper -->

{% endblock %}