<!-- Modal body -->
<form action="#" id="edit-product-form">
    <label for="edit-product-name">Mahsulot nomi:</label>
    <input type="text" name="name"  placeholder="Mahsulot nomi..." id="edit-product-name"
           class="form-control" required>
    <br>
    <label for="edit-product-name">Brend nomi:</label>
    <input type="text" name="brand_name" placeholder="Brend nomi..."
           id="edit-product-brend" class="form-control" required>
    <br>
    <label for="edit-product-name">Mahsulot narxi:</label>
    <input type="number" name="price" placeholder="Mahsulot narxi..."
           id="edit-product-price" class="form-control" required>
    <br>
    <label for="edit-product-name">Dona qoldi:</label>
    <input type="number" name="amount" placeholder="Dona qoldi..."
           id="edit-product-amount" class="form-control" required>
    <br>

    <!-- Modal footer -->
    <button type="submit" class="btn btn-success">Yangilash</button>
    <a href="#">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
    </a>

</form>

