{% extends 'base.html' %}
{% block title %} Sotuvlar {% endblock %}
{% block page %} Sotuvlar {% endblock %}
{% block sells_active %} active {% endblock %}
{% block content %}

    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                      Sotuv qo'shish
                  </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Mahsulot</th>
                            <th scope="col" style="text-align: center;">Mijoz</th>
                            <th scope="col" style="text-align: center;">Miqdor</th>
                            <th scope="col" style="text-align: center;">Jami</th>
                            <th scope="col" style="text-align: center;">To'lanid</th>
                            <th scope="col" style="text-align: center;">Nasiya</th>
                            <th scope="col" style="text-align: center;">Sana</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sell in sells %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}.</th>
                            <td>{{ sell.product.name }}</td>
                            <td>{{ sell.client.name }} -- {{ sell.client.shop_name }}</td>
                            <td>{{ sell.quantity }} {{ sell.product.unit }}</td>
                            <td>{{ sell.total_price }} so'm</td>
                            <td>{{ sell.paid_price }} so'm</td>
                            <td>{{ sell.debt_price }} so'm</td>
                            <td>{{ sell.created_at }}</td>
                            <td>
                                <a href="{% url 'sell-update' sell.id %}">
                                    <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                                </a>
                                <a href="#">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi sotuv</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <form id="new-product-form" method="post">
              {% csrf_token %}
            <div class="modal-body">
              <label for="product">Mahsulot:</label>
                <select name="product_id" id="product" class="form-control">
                    {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }} -- {{ product.quantity }} {{ product.unit }} -- {{ product.sell_price }} so'm</option>
                    {% endfor %}
                </select>
              <br>
              <label for="client">Mijoz:</label>
                <select name="client_id" id="client" class="form-control">
                    {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.name }} -- {{ client.shop_name }}</option>
                    {% endfor %}
                </select>
              <br>
              <label for="quantity">Miqdor</label>
              <input type="number" name="quantity" value="1" id="quantity" class="form-control" required>
              <br>
              <label for="total_price">Jami(so'm):</label>
              <input type="number" name="total_price" id="total_price" class="form-control" value="0">
              <br>
              <label for="paid_price">To'landi(so'm):</label>
              <input type="number" name="paid_price" id="paid_price" class="form-control" value="0">
              <br>
              <label for="debt_price">Nasiya(so'm):</label>
              <input type="number" name="debt_price" id="debt_price" class="form-control" value="0">
              <br>
              <label for="details">Izoh:</label>
              <input type="text" name="details" id="details" class="form-control" placeholder="Izoh kiriting...">
              <br>
            </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>
    
        </div>
      </div>
    </div>
<!-- ./wrapper -->

{% endblock %}