{% extends 'base.html' %}

{% block title %} Sotuv | Tahrirlash {% endblock %}
{% block page %} {{ sell.product.name }} - {{ sell.client.name }} ✏️ {% endblock %}
{% block sells_active %} active {% endblock %}

{% block content %}
<!-- Modal body -->
<form id="edit-product-form" style="padding:  0 20px 40px 20px" method="post">
    {% csrf_token %}
    <label for="name">Mahsulot:</label>
    <select name="product_id" id="product" class="form-control">
        {% for product in products %}
        <option value="{{ product.id }}"> {% if product.id == sell.product.id  %} selected {% endif %}
            {{ product.name }} {{ product.unit }} -- {{ product.sell_price }} so'm
        </option>
        {% endfor %}
    </select>
    <br>
    <label for="client">Mijoz:</label>
    <select name="client_id" id="client" class="form-control">
        {% for client in clients %}
            <option value="{{ client.id }}" {% if client.id == sell.client.id %} selected {% endif %}>{{ client.name }} {{ client.unit }} -- {{ client.shop_name }} so'm
            </option>
        {% endfor %}
    </select>
    <br>
    <label for="quantity">Miqdor ({{ sell.product.unit }})</label>
    <input type="number" name="quantity" value="{{ sell.quantity }}" id="quantity" class="form-control" required>
    <br>
    <label for="total_price">Jami(so'm):</label>
    <input type="number" name="total_price" id="total_price" class="form-control" value="{{ sell.total_price }}">
    <br>
    <label for="paid_price">To'landi(so'm):</label>
    <input type="number" name="paid_price" id="paid_price" class="form-control" value="{{ sell.paid_price }}">
    <br>
    <label for="debt_price">Nasiya(so'm):</label>
    <input type="number" name="debt_price" id="debt_price" class="form-control" value="{{ sell.debt_price }}">
    <br>
    <label for="details">Izoh:</label>
    <input type="text" name="details" id="details" class="form-control" placeholder="Izoh kiriting..." value="{{ sell.details }}">
    <br>
    <!-- Modal footer -->
    <button type="submit" class="btn btn-secondary">Tasdiqlash</button>
    <a href="{% url 'sells' %}">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Bekor qilish</button>
    </a>

</form>

{% endblock %}
